.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: white;
    border-bottom: 3px solid #1976d2; /* línea azul */
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .menu-btn,
  .icon-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .logo-red {
    color: red;
  }
  